.historyContainer {
  display: block;
  padding-top: 10px;
  margin-bottom: 30px;
  height: 100%;
  min-height: 80vh;
  min-width: 300px;
}

.historyTitle {
  text-align: center;
}
.historyFind {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  border: solid 1px #ddd;
}
.historyFind input {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
}
