.headerCont {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: #fbfbfb;
  padding: 15px;
  padding-bottom: 10px;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.5);
  position: relative;
}

.titleCont {
  width: 100%;
  text-align: center;
}

.icon {
  height: 50px;
}
