.background {
  background-color: lightsteelblue;
  /* height: calc(100vh + 20px); */
}

.chartContainer {
  top: 0px;
  margin-top: 0px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: white;
}
